/*
	Bootstrap Sizing:
	XS: <576
	SM: >=576
	MD: >=768
	LG: >=992
	XL: >=1200

*/

/* -------------------- ROOT VARS -------------------- */
:root {
    --main-bkgnd-color: rgb(26 26 26);
    --main-txt-color: rgb(230 230 230);
    --blk: rgb(0 0 0);
    --wht: rgb(255 255 255);
    --sdw: rgb(56 56 56);
    --dk-blue: rgb(0 38 100);
    --dk-gold: rgb(239 171 0);
    --lt-gold: rgb(248 235 97);
    --lt-blue: rgb(73 148 203);
    --grn: rgb(70 255 46);
    --kgrn: rgb(10 200 120);
    --orng: rgb(255 140 0);
    --teal: rgb(61 245 161);
    --yellow: rgb(255 255 0);
    --ex-cyan: rgb(40 209 212);
    --ex-grn: rgb(55 212 97);
    --ex-yellow: rgb(203 222 27);
    --ex-purple: rgb(161 13 124);
    --select: rgb(0 150 150 / 0.4);
    --quiz-btn-grn: rgb(55 212 97 / 0.6);
    --quiz-btn-blu: rgb(55 212 255 / 0.6);
    --quiz-btn-sdw: rgb(66 245 81);
}

/* -------------------- Overall style -------------------- */
::selection {
  background: var(--select); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--select); /* Gecko Browsers */
}

html {
	height: 100%;
}

body {
	font-family: 'Share Tech Mono', Monospace;
}

footer {
	background-color: var(--blk);
	color: var(--wht);
	border: 4px solid var(--dk-blue);
    border-image: linear-gradient(to right, var(--dk-gold), var(--lt-gold),  var(--lt-blue), var(--dk-blue)) 1;
    border-width:4px 0 0 0;
}

footer p, #banner p { /* See Navbar for footer img */
	height: 50px;
	line-height: 50px;
}

#article {
	font-size: 1.1rem;
	color: var(--main-txt-color);
	background-color: var(--main-bkgnd-color);
	min-height: calc(100vh - 111.6px);
}

/* -------------------- Navbar -------------------- */
nav img, footer img {
	width: 70px;
	height: 30px;
}

.navbar-dark {
	background-color: var(--blk);
}

#collapsibleNavbar:first-child {
    flex-shrink: 0;
}

#collapsibleNavbar ul li
{
    white-space: nowrap;
}

#collapsibleNavbar form {
	border-radius: 0;
}

#nav-CSI, #nav-Blog {
	color: var(--lt-gold);
}

#nav-CSII {
 	color: var(--lt-blue);
}

#search {
	border-radius: 0;
    min-width: 0;
    width: 80%;
}

button#toggler {
	color: var(--wht);
	border-color: var(--lt-gold);
}

#nav-Account {
    background-color: var(--dk-blue);
    background-color: rgba(0 38 100 / 0.95);
	border: 2px solid var(--lt-blue);
    right: 0;
    left: auto;
    margin-top: 8%;
}

#nav-Account a {
	color: var(--lt-gold);
    margin: 6px 0;
}

#nav-Account a:hover {
	color: var(--lt-gold);
	background-color: var(--main-bkgnd-color);
}

@media only screen and (max-width: 767.98px)
{
    #searchAcct li:first-child {
        width: 70%;
    }

    #searchAcct li:not(:first-child) {
    	width: 30%;
    }

    #nav-Account {
		right: 10%;
	}
}

/* -------------------- index.php -------------------- */
.img-size img {
	width: 75%;
}

@media only screen and (min-width: 767.98px) and (max-width: 1199.98px)
{
	.img-size img {
		width: 100%;
	}
}

	/* index.php banner */
#banner {
	border: 3px solid;
	border-image: linear-gradient(to right, var(--dk-gold), var(--lt-gold),  var(--lt-blue), var(--dk-blue)) 1;
    border-width: 3px 0 3px 0;
	background-color: var(--dk-blue);
	text-align: center;
	font-size: 2rem;
	margin: 0 -15px;
}

/* -------------------- Article styling -------------------- */
.heading {
	color: var(--wht);
	font-weight: 500;
}

hr {
	border-top: 3px solid;
	border-image: linear-gradient(to right, var(--dk-gold), var(--lt-gold),  var(--lt-blue), var(--dk-blue)) 1;
	margin-top: -5px;
}

.pre {
	white-space: pre;
}

.highlight {
    background-color: var(--blk);
	background-color: rgba(0 0 0 / 0.5);
	border: 1px inset var(--sdw);
	padding: 0 0.5%;
}

/* -------------------- Buttons -------------------- */

.btnBlue {
    background-color: var(--dk-blue);
	background-color: rgba(0 38 100 / 0.3);
	border-color: var(--lt-blue);
	color: var(--wht);
}

.btnYellow {
    background-color: var(--dk-gold);
	background-color: rgba(239 171 0 / 0.3);
	border-color: var(--lt-gold);
	color: var(--wht);
}

.btnBlack {
    background-color: var(--blk);
	background-color: rgb(0 0 0 / 0.3);
	border-color: var(--wht);
	color: var(--wht);
}

/* Quiz submit button */
@-webkit-keyframes pulse {
      0% { background-color: var(--quiz-btn-grn); -webkit-box-shadow: 0 0 0 var(--lt-blue);}
	 20% { background-color: var(--quiz-btn-blu); -webkit-box-shadow: 0 0 8px var(--quiz-btn-sdw);}
	 40% { background-color: var(--quiz-btn-blu); -webkit-box-shadow: 0 0 16px var(--lt-blue);}
	 50% { background-color: var(--quiz-btn-blu); -webkit-box-shadow: 0 0 20px var(--quiz-btn-sdw);}
	 60% { background-color: var(--quiz-btn-blu); -webkit-box-shadow: 0 0 16px var(--lt-blue);}
	 80% { background-color: var(--quiz-btn-blu); -webkit-box-shadow: 0 0 8px var(--quiz-btn-sdw);}
	100% { background-color: var(--quiz-btn-grn); -webkit-box-shadow: 0 0 0 var(--lt-blue);}
}

.btnQuiz {
	color: var(--wht);
	border: 3px inset var(--wht);
	background-color: var(--quiz-btn-grn);
    -webkit-animation-name: pulse;
	-webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-box-shadow: 0 0 20px var(--quiz-btn-grn);
}

.cancel {
	border: 2px inset magenta;
	color: magenta;
}

.cancel:hover {
    background: magenta;
	background: rgb(255 0 255 / 0.3);
	color: var(--wht);
}

/* -------------------- Links LVFHA -------------------- */
a:link {
	color: var(--lt-blue);
}

a:visited {
	color: var(--lt-blue);
}

a:focus {
    color: var(--lt-gold);
}

a:hover {
	color: var(--lt-gold);
}

a:active {
	color: var(--lt-gold);
}

/* -------------------- Colors -------------------- */
.kentYellow {
	color: var(--lt-gold);
}

.kentBlue {
	color: var(--lt-blue);
}

	/* Code */
.co-c {
	color: cyan;
}

.co-g {
	color: var(--grn);
}

.co-kg {
	color: var(--kgrn);
}

.co-m {
	color: magenta;
}

.co-o {
	color: var(--orng);
}

.co-r {
	color: red;
}

.co-t {
	color: var(--teal);
}

.co-w {
	color: var(--wht);
}

.co-y {
	color: var(--yellow);
}

	/* exBoxes text */
.cyan {
	color: var(--ex-cyan);
}

.green {
	color: var(--ex-grn);
}

.yellow {
	color: var(--ex-yellow);
}

/* -------------------- Text area paddng -------------------- See @media below */
p.text-justify {
	padding: 0 5%;
}

.indent-list {
	padding: 0 10%;
}

/* -------------------- Colored boxes -------------------- */
	/* Font */

.exBoxGreen, .exBoxCyan, .exBoxPurple, .exBoxPurpleQuiz, .exBoxComment,
.exBoxYellow, .exBoxKelly, .exBoxMagenta, .exFont span, #precTable, .code pre {
	font-family: 'Roboto Mono', monospace;
}

	/* Borders */

.exBoxCyan {
	border: 3px solid var(--ex-cyan);
}

.exBoxGreen {
	border: 3px solid var(--ex-grn);
}

.exBoxKelly {
	border: 3px solid var(--kgrn);
}

.exBoxMagenta {
	border: 3px solid magenta;
}

.exBoxPurple, .exBoxPurpleQuiz, .exBoxComment {
	border: 3px solid var(--ex-purple);
}

.exBoxYellow {
	border: 3px solid var(--ex-yellow);
}

	/* Overall box style */
.exBoxGreen, .exBoxCyan, .exBoxPurple, .exBoxPurpleQuiz,
.exBoxYellow, .exBoxComment, .exBoxKelly, .exBoxMagenta {
	border-radius: 5px;
	box-shadow: inset 0 0 15px 2px var(--sdw);
	padding-right: 10px;
	background-color: var(--blk);
	font-size: 0.95rem;
}

.exBoxGreen, .exBoxCyan, .exBoxPurple, .exBoxYellow,
.exBoxKelly, .exBoxMagenta {
	margin-left: 15%;
	margin-right: 15%;
}

@media only screen and (max-width: 767.98px)
{
	.exBoxGreen, .exBoxCyan, .exBoxPurple, .exBoxPurpleQuiz,
	.exBoxYellow, .exBoxKelly, .exBoxMagenta {
		margin-left: 0;
		margin-right: 0;
	}

	p.text-justify {
		padding: 0 0;
	}
}

.exFont span {
	font-size: 0.95rem;
	padding: 0 2px 1px 2px;
}

	/* Heading */
.exBoxTitle {
	font-size: 22px;
}

	/* Green style */
.exBoxGreen li:nth-child(even) {
	color: var(--ex-grn);
}

/* -------------------- Quiz Results -------------------- */
.radioQuizLabel {
	word-wrap: break-word;
	max-width: 95%;
}

[class *= "dispAns"]:not(details) {
	padding: 1em;
	margin-top: -1rem;
    margin-bottom: 5em;
}

details {
	padding: 1rem 0 0 1rem;
}

summary i {
    padding-right: 1rem;
}

details p {
    padding-top: 1rem;
}
summary {
	outline: none;
	list-style: none;
}

details:not([open]) {
	padding-bottom: 1rem;
}

summary::-webkit-details-marker {
  display: none;
}

/* -------------------- Example code -------------------- */
.code {
	padding-left: 1%;
	margin: 0 0;
}

.code pre {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 0.95rem;
}

.borderless td, .borderless th {
    border: none;
}

.exBoxPurple .code table tr td:first-child,
.exBoxPurpleQuiz .code table tr td:first-child {
	width: 3%;
	min-width: 3%;
	max-width: 3%;
	left: 0;
	position: -webkit-sticky;
   	position: sticky;
	box-shadow: inset 0 15px 12px -12px var(--sdw);
	background-color: var(--blk);
}

/* -------------------- Colored number list / Bullet point style -------------------- */
li {
	counter-increment: li;
}

.numberedList {
	list-style: none;
	counter-reset: li;
}

.numberedList li::before {
	content: counter(li);
	color: var(--lt-gold);
	display: inline-block;
	width: 1rem;
	margin-left: -1rem;
}

/* -------------------- Table -------------------- */
#precTable {
	font-size: 0.9rem;
	background-color: var(--blk);
	white-space: nowrap;
}

#precTable td, #precTable tr {
	border: 3px inset var(--wht);
}

#precTable tr td:first-child {
	text-align: center;
}

#precTable tr:nth-child(even){
	color: var(--ex-grn);
}

#precTable tbody tr:nth-child(4) td:nth-child(4) {
	color: var(--wht);
}

#precTable tbody tr:nth-child(3) td:nth-child(4),
#precTable tbody tr:nth-child(16) td:nth-child(4) {
	color: var(--lt-gold);
}

/* -------------------- textareas -------------------- */
.ln, .sc, #out, .ln:focus, .sc:focus, #out:focus, .commentEntry, .commentEntry:focus {
	resize: none;
	background-color: var(--blk);
	color: var(--main-txt-color);
}

/* -------------------- Comment section -------------------- */
.commentBorder {
	border-top: 1px solid var(--lt-blue);
	border-bottom: 1px solid var(--lt-gold);
}

.fa-comment-dots {
	font-size: 1.3rem;
}

.replyLink {
    z-index: 100;
    cursor: pointer;
}

.exBoxComment {
	margin-right: 25%;
}

@media only screen and (max-width: 767.98px)
{
	.exBoxComment {
		margin-right: 0;
	}
}

/* -------------------- Topics -------------------- */
.csLinks > div {
	padding: 0 2px;
}

.csLinks button {
	font-weight: bold;
	font-size: 1.1rem;
	height: 100px;
}

/* -------------------- Login and Signup -------------------- */
.fieldSize {
	height: 35px;
}

#accountTxt {
    padding: 7% 7%;
    margin: 0 5%;
}

#accountTxt p {
	font-size: 1.05rem;
}

#accountTxt label {
	font-size: 1.15rem;
}

#accountTxt input {
	width: 100%;
    max-width: 100%;
    min-width: 100%;
}

/* -------------------- Radio Buttons -------------------- */
/* https://codepen.io/manabox/pen/raQmpL with my modifications */

/* Get rid of the default buttons */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

/* Setup for new buttons */
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	line-height: 1.5 em;
	display: inline-block;
}

/* Setup for change choice */
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
	content: '';
	position: absolute;
	top: 4px;
	left: 0;
	width: 1em;
	height: 1em;
	border: 1px solid var(--main-bkgnd-color);
	border-radius: 100%;
	background: var(--lt-gold);
}

/* Setup for choice */
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
	content: '';
	width: 1em;
	height: 1em;
	background: var(--lt-blue);
	position: absolute;
	top: 4px;
	left: 0;
	border-radius: 100%;
	-webkit-transition: all 0.4s cubic-bezier(.09, .7, .78, .26);
	transition: all 0.4s cubic-bezier(.09, .7, .78, .26);
}

/* Change choice animation */
[type="radio"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(1);
	transform: scale(1);
}

/* Choice animation (blue button) */
[type="radio"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
