/*
	Bootstrap Sizing:
	XS: <576
	SM: >=576
	MD: >=768
	LG: >=992
	XL: >=1200

*/

/* -------------------- Custom Fonts -------------------- */
@font-face {
    font-family: 'SuperMario';
    src: url('../fonts/SuperMario.ttf') format('truetype');
}

@font-face {
    font-family: 'Nintendo';
    src: url('../fonts/Nintendo.ttf') format('truetype');
}

@font-face {
    font-family: 'SNES';
    src: url('../fonts/SNESItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'MarioKart';
    src: url('../fonts/MarioKart.ttf') format('truetype');
}

@font-face {
    font-family: 'Space Mono';
    src: url('../fonts/SpaceMono.ttf') format('truetype');
}

@font-face {
    font-family: 'Share Tech Mono';
    src: url('../fonts/ShareTechMono.ttf') format('truetype');
}

@font-face {
    font-family: 'Animal';
    src: url('../fonts/Animal.ttf') format('truetype');
}

/* -------------------- ROOT VARS -------------------- */
:root {
    --main-bkgnd-color: rgb(26 26 26);
    --main-txt-color: rgb(230 230 230);
    --blk: rgb(0 0 0);
    --wht: rgb(255 255 255);
    --sdw: rgb(56 56 56);
    --sdw-grn: rgb(19 94 63);
    --dk-blue: rgb(0 38 100);
    --dk-gold: rgb(239 171 0);
    --lt-gold: rgb(248 235 97);
    --lt-blue: rgb(73 148 203);
    --links: rgb(238 204 0);
    --grn: rgb(70 255 46);
    --kgrn: rgb(10 200 120);
    --mgnta: rgb(204 53 204);
    --orng: rgb(255 140 0);
    --red: rgb(255 48 48);
    --teal: rgb(61 245 161);
    --ylw: rgb(255 255 0);
    --ex-cyan: rgb(40 209 212);
    --ex-grn: rgb(55 212 97);
    --ex-ylw: rgb(203 222 27);
    --ex-prpl: rgb(161 13 124);
    --select: rgb(0 150 150 / 0.4);
    --quiz-btn-grn: rgb(55 212 97 / 0.6);
    --quiz-btn-blu: rgb(55 212 255 / 0.6);
    --quiz-btn-sdw: rgb(66 245 81);
    --cpp-topic-grn: rgb(31 178 90);
    --jakks-blu: rgb(7 114 186);
    --jakks-grn: rgb(20 167 81);
    --jakks-red: rgb(236 32 40);
    --mario-blu: rgb(0 155 217);
    --mario-grn: rgb(68 175 53);
    --mario-red: rgb(230 35 16);
    --mario-ylw: rgb(252 207 0);
    --nintendo-red: rgb(228 0 15);
    --fontMain: 'Share Tech Mono', Monospace;
    --fontCode: 'Space Mono', Monospace;
    --fontMario: 'SuperMario', 'Share Tech Mono', Monospace;
    --fontNin: 'Nintendo', 'Share Tech Mono', Monospace;
    --fontSNES: 'SNES', 'Share Tech Mono', Monospace;
    --fontMK: 'MarioKart', 'Share Tech Mono', Monospace;
}

/* -------------------- Overall style -------------------- */
::selection {
  background: var(--select); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--select); /* Gecko Browsers */
}

.fontMain {
    font-family: var(--fontMain);
}

.fontCode {
    font-family: var(--fontCode);
    font-size: 0.85rem;
}

html {
	height: 100%;
}

body {
	font-family: var(--fontMain);
}

footer {
	background-color: var(--blk);
	color: var(--wht);
	border: 4px solid var(--dk-blue);
    border-image: linear-gradient(to right, var(--dk-gold), var(--lt-gold),  var(--lt-blue), var(--dk-blue)) 1;
    border-width:4px 0 0 0;
}

footer p, #banner p { /* See Navbar for footer img */
	height: 50px;
	line-height: 50px;
}

#article, #cppTopics {
	font-size: 1.1rem;
	color: var(--main-txt-color);
	background-color: var(--main-bkgnd-color);
	min-height: calc(100vh - 111.6px);
}

#cppTopics {
    background-color: var(--blk);
}

/* -------------------- Navbar -------------------- */
nav img, footer img {
	width: 70px;
	height: 30px;
}

.navbar-dark {
	background-color: var(--blk);
}

.nav-link {
    padding: 0.5rem 1rem;
}

.nav-item {
    padding: 0 1%;
}

@media only screen and (max-width 767.98px)
{
    .nav-item {
        width: 30%;
        min-width: 30%;
    }
}

@media only screen and (min-width: 768px)
{
    .dropdown-menu {
        left: 0;
        right: auto;
    }
}

#nav-Prog-Link,
#nav-Sloth-Link {
    color: var(--ex-ylw);
}

#nav-Collect-Link,
#nav-Search-Link {
    color: var(--lt-blue);
}

button#toggler {
	color: var(--wht);
	border-color: var(--lt-gold);
}

.activeNav {
    background-color: var(--sdw);
}

.dropdown-menu {
    background-color: var(--dk-blue);
    background-color: rgba(0 38 100 / 0.95);
	border: 2px solid var(--lt-blue);
    width: 16rem;
}

.dropdown-menu a {
    color: var(--lt-gold);
    margin: 6px 0;
}

.dropdown-menu a:hover {
	color: var(--lt-gold);
	background-color: var(--main-bkgnd-color);
}

.nav-right-justified {
    right: 0;
    left: auto;
}

#search form {
    min-width: 15rem;
    padding-left: 3%;
}

#search form input.form-control {
    background-color: var(--blk);
    color: var(--wht);
    border: 4px outset var(--lt-gold);
    border-radius: 10px;
    font-size: 1.1rem;
}

#search form input {
    padding-left: 3%;
}

#search form button {
    margin-right: 2%;
    margin-top: 0.5%;
    padding-right: 3%;
}

/* -------------------- index.php -------------------- */
.img-size img {
	width: 75%;
}

@media only screen and (min-width: 767.98px) and (max-width: 1199.98px)
{
	.img-size img {
		width: 100%;
	}
}

	/* index.php banner */
#banner {
	border: 3px solid;
	border-image: linear-gradient(to right, var(--dk-gold), var(--lt-gold),  var(--lt-blue), var(--dk-blue)) 1;
    border-width: 3px 0 3px 0;
	background-color: var(--dk-blue);
	text-align: center;
	font-size: 2rem;
	margin: 0 -15px;
}

/* -------------------- Article styling -------------------- */
.heading {
	color: var(--wht);
	font-weight: 500;
}

hr {
	border-top: 3px solid;
	border-image: linear-gradient(to right, var(--dk-gold), var(--lt-gold),  var(--lt-blue), var(--dk-blue)) 1;
	margin-top: -5px;
}

.pre {
	white-space: pre;
}

.highlight {
    display: inline-block;
    background-color: var(--blk);
	background-color: rgba(0 0 0 / 0.5);
	border: 1px inset var(--sdw);
	padding: 0 0.5%;
}

/* -------------------- Buttons -------------------- */

.btnBlue {
    background-color: var(--dk-blue);
	background-color: rgba(0 38 100 / 0.3);
	border-color: var(--lt-blue);
	color: var(--wht);
}

.btnBlue:hover {
    color: var(--lt-gold);
}

.btnYellow {
    background-color: var(--dk-gold);
	background-color: rgba(239 171 0 / 0.3);
	border-color: var(--lt-gold);
	color: var(--wht);
}

.btnBlack {
    background-color: var(--blk);
	background-color: rgb(0 0 0 / 0.3);
	border-color: var(--wht);
	color: var(--wht);
}

/* Quiz submit button */
@-webkit-keyframes pulse {
      0% { background-color: var(--quiz-btn-grn); -webkit-box-shadow: 0 0 0 var(--lt-blue);}
	 20% { background-color: var(--quiz-btn-blu); -webkit-box-shadow: 0 0 8px var(--quiz-btn-sdw);}
	 40% { background-color: var(--quiz-btn-blu); -webkit-box-shadow: 0 0 16px var(--lt-blue);}
	 50% { background-color: var(--quiz-btn-blu); -webkit-box-shadow: 0 0 20px var(--quiz-btn-sdw);}
	 60% { background-color: var(--quiz-btn-blu); -webkit-box-shadow: 0 0 16px var(--lt-blue);}
	 80% { background-color: var(--quiz-btn-blu); -webkit-box-shadow: 0 0 8px var(--quiz-btn-sdw);}
	100% { background-color: var(--quiz-btn-grn); -webkit-box-shadow: 0 0 0 var(--lt-blue);}
}

.btnQuiz {
	color: var(--wht);
	border: 3px inset var(--wht);
	background-color: var(--quiz-btn-grn);
    -webkit-animation-name: pulse;
	-webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-box-shadow: 0 0 20px var(--quiz-btn-grn);
}

.cancel {
	border: 2px inset magenta;
	color: magenta;
}

.cancel:hover {
    background: magenta;
	background: rgb(255 0 255 / 0.3);
	color: var(--wht);
}

/* -------------------- Links LVFHA -------------------- */
a:link {
	color: var(--ex-ylw);
}

a:visited {
	color: var(--ex-ylw);
}

a:focus {
    color: var(--ex-ylw);
}

a:hover {
	color: var(--ex-cyan);
}

a:active {
	color: var(--lt-gold);
}

/* -------------------- Colors -------------------- */
.kentYellow {
	color: var(--lt-gold);
}

.kentBlue {
	color: var(--lt-blue);
}

	/* Code */
.co-b {
    color: #a1a1a1;
}

.co-c {
	color: cyan;
}

.co-g {
	color: var(--grn);
}

.co-kg {
	color: var(--kgrn);
}

.co-m {
	color: var(--mgnta);
}

.co-o {
	color: var(--orng);
}

.co-r {
	color: var(--red);
}

.co-sdw {
    color: var(--sdw);
}

.co-t {
	color: var(--teal);
}

.co-w {
	color: var(--wht);
}

.co-y {
	color: var(--ylw);
}

	/* exBoxes text */
.cyan {
	color: var(--ex-cyan);
}

.green {
	color: var(--ex-grn);
}

.yellow {
	color: var(--ex-ylw);
}

/* -------------------- Text area paddng -------------------- See @media below */
p.text-justify,
.indent-list {
	padding: 0 5%;
}

/* -------------------- Colored boxes -------------------- */
figure {
    margin: 0;
}

	/* Font */
.exBoxGreen, .exBoxCyan, .exBoxPurple, .exBoxPurpleQuiz, .exBoxComment,
.exBoxYellow, .exBoxKelly, .exBoxMagenta, .exFont span, #precTable, .code pre {
	font-family: var(--fontCode);
}

	/* Borders */
.exBoxCyan {
	border: 3px solid var(--ex-cyan);
}

.exBoxGreen {
	border: 3px solid var(--ex-grn);
}

.exBoxKelly {
	border: 3px solid var(--kgrn);
}

.exBoxMagenta {
	border: 3px solid magenta;
}

.exBoxPurple, .exBoxPurpleQuiz, .exBoxComment {
	border: 3px solid var(--ex-prpl);
}

.exBoxYellow {
	border: 3px solid var(--ex-ylw);
}

	/* Overall box style */
.exBoxGreen, .exBoxCyan, .exBoxPurple, .exBoxPurpleQuiz,
.exBoxYellow, .exBoxComment, .exBoxKelly, .exBoxMagenta {
	border-radius: 5px;
	box-shadow: inset 0 0 15px 2px var(--sdw);
	padding-right: 15px;
	background-color: var(--blk);
	font-size: 1rem;
}

@media only screen and (max-width: 767.98px)
{
	.exBoxGreen, .exBoxCyan, .exBoxPurple, .exBoxPurpleQuiz,
	.exBoxYellow, .exBoxKelly, .exBoxMagenta {
		margin-left: 0;
		margin-right: 0;
	}

	p.text-justify {
		padding: 0 0;
	}
}

.exFont span {
	font-size: 0.95rem;
	padding: 0 2px 1px 2px;
}

	/* Heading */
.exBoxTitle {
	font-size: 22px;
}

	/* Green style */
.exBoxGreen li:nth-child(even) {
	color: var(--ex-grn);
}

/* -------------------- Quiz Results -------------------- */
.radioQuizLabel {
	word-wrap: break-word;
	max-width: 95%;
}

[class *= "dispAns"]:not(details) {
	padding: 1em;
	margin-top: -1rem;
    margin-bottom: 5em;
}

details {
	padding: 1rem 0 0 1rem;
}

summary i {
    padding-right: 1rem;
}

details p {
    padding-top: 1rem;
}
summary {
	outline: none;
	list-style: none;
}

details:not([open]) {
	padding-bottom: 1rem;
}

summary::marker {
  display: none;
}

/* -------------------- Example code -------------------- */
.code {
    overflow-x: auto;
}

.code pre {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1rem;
}

@media only screen and (max-width: 767.98px)
{
    .code pre {
        font-size: 0.9rem;
    }
}

.borderless td, .borderless th {
    border: none;
}

.exBoxPurple .code table tr td:first-child,
.exBoxPurpleQuiz .code table tr td:first-child {
	width: 3%;
	min-width: 3%;
	max-width: 3%;
	left: 0;
	position: -webkit-sticky;
   	position: sticky;
	box-shadow: inset 15px 15px 12px -12px var(--sdw);
	background-color: var(--blk);
}

figure.code p {
    left: 0;
    position: -webkit-sticky;
   	position: sticky;
	box-shadow: inset 0 15px 12px -12px var(--sdw);
}

/* -------------------- Colored number list / Bullet point style -------------------- */
li {
	counter-increment: li;
}

.numberedList {
	list-style: none;
	counter-reset: li;
}

.numberedList li::before {
	content: counter(li);
	color: var(--lt-gold);
	display: inline-block;
	width: 1rem;
	margin-left: -1rem;
}

/* -------------------- Table -------------------- */
#precTable {
	font-size: 1rem;
	background-color: var(--blk);
	white-space: nowrap;
}

#precTable td, #precTable tr {
	border: 3px inset var(--wht);
}

#precTable tr td:first-child {
	text-align: center;
}

#precTable tr:nth-child(even){
	color: var(--ex-grn);
}

#precTable tbody tr:nth-child(4) td:nth-child(4) {
	color: var(--wht);
}

#precTable tbody tr:nth-child(3) td:nth-child(4),
#precTable tbody tr:nth-child(16) td:nth-child(4) {
	color: var(--lt-gold);
}

/* -------------------- textareas -------------------- */
.ln, .sc, #out, .ln:focus, .sc:focus, #out:focus, .commentEntry, .commentEntry:focus {
	resize: none;
	background-color: var(--blk);
	color: var(--main-txt-color);
}

/* -------------------- Comment section -------------------- */
.commentBorder {
	border-top: 1px solid var(--lt-blue);
	border-bottom: 1px solid var(--lt-gold);
}

.fa-comment-dots {
	font-size: 1.3rem;
}

.replyLink {
    z-index: 100;
    cursor: pointer;
}

.commentMgn {
    margin-left: 3%;
}

/* -------------------- Directory Buttons -------------------- */
.btn-push {
    position: relative;
    top: 0px;
    transition: All 250ms ease;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.btn-push-grn {
    color: var(--ex-grn);
    border: 1px inset var(--ex-grn);
    border-radius: 5px;
    box-shadow: 0 5px 0 var(--ex-grn);
}

.btn-push-cyan {
    color: var(--ex-cyan);
    border: 1px solid var(--ex-cyan);
    border-radius: 5px;
    box-shadow: 0 5px 0 var(--ex-cyan);
}

.btn-push-ylw {
    color: var(--ex-ylw);
    border: 1px solid var(--ex-ylw);
    border-radius: 5px;
    box-shadow: 0 5px 0 var(--ex-ylw);
}

.btn-push-prpl {
    color: var(--ex-prpl);
    border: 1px solid var(--ex-prpl);
    border-radius: 5px;
    box-shadow: 0 5px 0 var(--ex-prpl);
}

.btn-push-MarioGrn {
    color: var(--mario-grn);
    border: 1px solid var(--mario-grn);
    border-radius: 5px;
    box-shadow: 0 5px 0 var(--mario-grn);
}

.btn-push-MarioBlu {
    color: var(--mario-blu);
    border: 1px solid var(--mario-blu);
    border-radius: 5px;
    box-shadow: 0 5px 0 var(--mario-blu);
}

.btn-push:active {
    top: 5px;
    box-shadow: none;
    transition: All 250ms ease;
}

#bulletCircle {
    width: 25px;
    height: 25px;
    margin: 5px;
    shape-outside: circle();
    clip-path: circle();
    background-color: #16B8AA;

}

/* -------------------- Login and Signup -------------------- */
.fieldSize {
	height: 35px;
}

#accountTxt {
    padding: 7% 7%;
    margin: 0 5%;
}

#accountTxt p {
	font-size: 1.05rem;
}

#accountTxt label {
	font-size: 1.15rem;
}

#accountTxt input {
	width: 100%;
    max-width: 100%;
    min-width: 100%;
}

/* -------------------- Radio Buttons -------------------- */
/* https://codepen.io/manabox/pen/raQmpL with my modifications */

/* Get rid of the default buttons */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

/* Setup for new buttons */
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	line-height: 1.5em;
	display: inline-block;
}

/* Setup for change choice */
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
	content: '';
	position: absolute;
	top: 4px;
	left: 0;
	width: 1em;
	height: 1em;
	border: 1px solid var(--main-bkgnd-color);
	border-radius: 100%;
	background: var(--lt-gold);
}

/* Setup for choice */
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
	content: '';
	width: 1em;
	height: 1em;
	background: var(--lt-blue);
	position: absolute;
	top: 4px;
	left: 0;
	border-radius: 100%;
	-webkit-transition: all 0.4s cubic-bezier(.09, .7, .78, .26);
	transition: all 0.4s cubic-bezier(.09, .7, .78, .26);
}

/* Change choice animation */
[type="radio"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(1);
	transform: scale(1);
}

/* Choice animation (blue button) */
[type="radio"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

/* -------------------- Directory Links -------------------- */
.dirBtn {
    min-width: 50%;
    width: 50%;
    text-decoration: none;
    text-align: center;
}

@media only screen and (max-width: 991.98px)
{
    .dirBtn {
        min-width: 90%;
        width: 90%
    }
}

a.dirBtnGrn {
    color: var(--ex-grn);
}

a.dirBtnYlw {
    color: var(--ex-ylw);
}

a.dirBtnCyan {
    color: var(--ex-cyan);
}

a.dirBtnMarioGrn {
    color: var(--mario-grn);
}

a.dirBtnMarioBlu {
    color: var(--mario-blu);
}

.dirBtn:hover {
    text-decoration: none;
}

/* -------------------- Algorithm Class Notes -------------------- */
.algoNotesPara>pre {
    color: var(--wht);
    white-space: pre-wrap;
    font-size: 1rem;
}

@media only screen and (max-width: 767.98px)
{
    .algoNotesPara>pre,
    .algoNotesPara>p:first-child {
        font-size: 0.95rem;
    }
}

.redBlackTreeHighlight {
    color: var(--blk);
    font-weight: bold;
    text-shadow: 1px 0px 8px var(--wht);
}

.blackHighlight {
    color: var(--blk);
    font-weight: bold;
    background-color: #999;
}

/* -------------------- Catalog -------------------- */
    /* Colors */
.mario-blu {
    color: var(--mario-blu);
}

.mario-grn {
    color: var(--mario-grn);
}

.mario-red {
    color: var(--mario-red);
}

.mario-ylw {
    color: var(--mario-ylw);
}

.jakks-blu {
    color: var(--jakks-blu);
}

.jakks-grn {
    color: var(--jakks-grn);
}

.jakks-red {
    color: var(--jakks-red);
}

    /* Font Styling */
.nintendoFont {
    font-family: var(--fontNin);
    color: var(--nintendo-red);
    border: 9px solid var(--wht);
    border-radius: 50px;
    padding: 0 25px;
}

.ninFont {
    font-family: var(--fontNin);
}

.snes {
    font-family: var(--fontSNES);
}

.superMario {
    font-family: var(--fontMario);
    letter-spacing: 2px;
}

.marioKart {
    font-family: var(--fontMK);
}

.marioTitleSize {
    font-size: 2.5rem;
}

@media only screen and (max-width: 991.98px)
{
    .marioTitleSize {
        font-size: 2.3rem;
    }
}

.marioKartTxtShade {
    color: var(--blk);
    text-shadow: 4px  2px 8px rgb(41 160 39 / 75%),  4px  2px 8px rgb(12  0 203 / 90%),
                 4px -2px 8px rgb(255 73 25 / 55%), -4px -2px 8px rgb(189 0 206 / 64%);
}

.marioKartNameSdw {
    text-shadow: 0 -1px 0 var(--wht), 0 0 2px var(--wht), 0 1px 2px var(--wht);
}

    /* Horizontal Rule */
.nintendohr {
	border-top: 3px solid;
	border-image: linear-gradient(to right, var(--nintendo-red), var(--nintendo-red), var(--nintendo-red), var(--wht), var(--wht)) 1;
	margin-top: -5px;
}

.mariohr {
    border-top: 3px solid;
    border-image: linear-gradient(to right, var(--mario-blu), var(--mario-grn), var(--mario-ylw), var(--mario-red)) 1;
    margin-top: -5px;
}

    /* Headers */
.marioHeader {
    background-color: var(--blk);
    border: 5px inset var(--jakks-blu);
    color: var(--wht);
    line-height: 1.5;
    font-size: 1.2rem;
}

.marioTopNote {
    border: 6px inset var(--blk);
    background: linear-gradient(180deg, rgb(189 0 206 / 0.3), rgb(41 160 39 / 0.5) 90%),
                linear-gradient(0deg, rgb(12 0 203 / 0.6), rgb(255 73 25 / 0.2) 90%);
    padding: 2%;
    font-weight: 900;
    color: #FFFFFFA0;
}

    /* Card (inner/outer) Styling */
.marioCard {
     background-color: var(--blk);
     border: 3px solid var(--jakks-blu);
     width: 100%;
}

.marioInfo {
    font-family: var(--fontMario);
    letter-spacing: 2px;
}

.marioInfo pre {
    font-family: var(--fontMario);
    font-size: 1.1rem;
    white-space: break-spaces;
}

.marioNotes {
    font-family: var(--fontCode);
    font-size: 1rem;
}

.carousel-control-prev,
.carousel-control-next {
    border: 4px inset var(--blk);
    height: 30px;
    width: 30px;
    margin: auto 3.9%;
    opacity: .75;
    background-color: var(--blk);
}

.carousel-marioSize img {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%)
}

.carousel-marioSize {
    overflow: hidden;
    width: 100%;
}

.carousel-marioSize {
    height: 480px;
}

.marioImgSize {
    width: 95%;
}

@media only screen and (max-width: 575.98px)
{
    .carousel-marioSize {
        height: 405px;
    }
    .marioImgSize {
        width: 80%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px)
{
    .carousel-marioSize {
        height: 420px;
    }
}

@media only screen and (min-width: 1200px)
{
    .carousel-marioSize {
        height: 400px;
    }
}

    /* MarioKartTable */
#marioVersTable {
    background-color: var(--blk);
    white-space: nowrap;
    font-size: 1.2rem;
    font-family: var(--fontMario);
    border: 5px inset var(--wht);
}

.marioCheckTableImg img {
    height: 50px;
    width: 50px;
}

#marioVersTable th,
#marioVersTable td {
    vertical-align: middle;
}

@media only screen and (max-width: 575.98px)
{
    #marioVersTable {
        font-size: 1rem;
    }
}
